<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oxo.ball.mapper.BallSystemNoticeMapper">
    <select id="listPage" resultType="com.oxo.ball.bean.dao.BallSystemNotice">
        select
          n.*,p.status as read_status
        from
          ball_system_notice n
        left join
          ball_player_notice p
        on
          n.id = p.notice_id
        and
          p.player_id=#{query.playerId}
        <where>
            <if test="query.status">
                and n.status=#{query.status}
            </if>
            <if test="query.language">
                and n.language=#{query.language}
            </if>
        </where>
    </select>
</mapper>
