<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oxo.ball.mapper.BallLoggerBackMapper">
    <select id="statis" resultType="map">
        select
          sum(money) as money
        from
          ball_logger_back
        where
          player_id = #{playerId}
          <!--
          and
          status = 2
           -->
        and
          account_type = 2
        and
          created_at between #{begin} and #{end}
    </select>

    <select id="statis2" resultType="map">
        select
          sum(money) money
        from
          ball_logger_back
        where
          player_id = #{playerId}
        <!--
        and
          status = 2
          -->

        order by id desc
        limit 1
    </select>
</mapper>
